@charset "UTF-8";
/* research justify-content/align-tems */

/* Navbar Box */
.navbar-box{
    display: flex;
    justify-content: space-between;     /* Move home button and nav-items completely away from eachother */
    margin-bottom: 50px;
}
.nav-link-item{
    margin-right: 10px;                 /* space out navlinks w/n the box*/
}


.about-box{
    display: flex;
    justify-content: space-between;
}


