@charset "UTF-8";
/* research justify-content/align-tems */

/* Navbar Box */
.navbar-box{
    display: flex;  
}
.home-link-item{
    flex: 8.5;
}
.nav-link-items{
    flex: 1; 
}

/* About Box */
.about-box{
    display: flex;
}
.about-text-box{
    flex-direction: column;
    flex: 3;                        /* flex as child of about-box */
}
.profile-img-item{
    flex: 1;                        /* flex as child of about-box */
}
